.kernel-Avatar-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border-radius: var(--kernel-radius-full);
  background-color: var(--kernel-gray-4);
  flex-shrink: 0;
}

.kernel-Avatar-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.kernel-Avatar-fallback {
  font-family: var(--kernel-font-sans);
  font-size: var(--kernel-font-size-sm);
  font-weight: 500;
  color: var(--kernel-gray-11);
  text-transform: uppercase;
}
